html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--greyscale-black-100);
  @extend %chakra-400;
  color: var(--greyscale-grey-2);
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  background-image: url(../images/result/header/top-decor.png);
  background-repeat: no-repeat;
  background-position: top right;

  &.lock {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;

  &--faq {
    max-width: 820px;
  }
}

button {
  &:active,
  &:focus {
    outline: transparent;
    cursor: pointer;
  }
}

// ! Скрывает заголовки и т.д. для СЕО
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  &:active,
  &:focus {
    outline: transparent;
  }
}

.advantages {
  background-color: var(--greyscale-black-80);
  padding: 42px 64px 53px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) 1;

  &__items {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  &__item {
    max-width: 325px;
    padding-top: 112px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 75px;
      left: 0;
      top: 0;
    }

    &:nth-child(1) {
      &::before {
        height: 60px;
        background-image: url(../images/result/sprite/sprite.svg#expertise);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &:nth-child(2) {
      &::before {
        height: 70px;
        background-image: url(../images/result/sprite/sprite.svg#custom);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &:nth-child(3) {
      &::before {
        height: 70px;
        background-image: url(../images/result/sprite/sprite.svg#servise);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    color: var(--greyscale-white);
    font-weight: 400;
  }

  &__text {
    font-size: 14px;
    color: var(--greyscale-grey-1);
    line-height: 2;
  }
}

.play-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 0.5s ease;
  fill: transparent;

  &__hover {
    &:hover {
      .play-svg {
        fill: var(--alerts-error);
      }
    }
  }
}

.border-gradient {
  border-width: 1px;
  border-style: solid;
  border-image: var(--gradient);
  color: var(--greyscale-white);
  transition: border-image 0.5s ease;

  &:hover {
    border-image: var(--hover-gradient);
    color: var(--greyscale-white);
  }
}

.border-gradient__no-hover {
  &:hover {
    border-width: 1px;
    border-style: solid;
    border-image: var(--gradient);
    color: var(--greyscale-white);
    transition: border-image 0.5s ease;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}

.button {
  display: inline-block;
  padding: 18px 38px;
  text-transform: uppercase;
  color: var(--greyscale-white);
  @extend %chakra-700;
  letter-spacing: 1.5px;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  transition: background 0.5s ease;

  &:hover {
    color: var(--greyscale-white);
  }
}

.fancybox__container {
  --fancybox-bg: rgba(24, 24, 27, 0.8);
}

.section-title {
  @extend %chakra-500;
  text-transform: uppercase;
  background: linear-gradient(to right, #19b5f1 0%, #ca6aeb 85%);
  color: transparent;
  background-clip: text;
  letter-spacing: 2.5px;
  margin-bottom: 12px;
  display: inline-block;

  &:hover {
    background: linear-gradient(to right, #19b5f1 0%, #ca6aeb 85%);
    color: transparent;
    background-clip: text;
  }
}

.title {
  font-size: 48px;
  @extend %chakra-600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.white-gradient {
  background-color: var(--greyscale-black-80);
  padding: 42px 64px 53px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) 1;
}

.badge {
  font-size: 14px;
  @extend %chakra-500;
  display: inline-block;
  padding: 2px 10px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  color: var(--greyscale-white);
}

.social {
  display: flex;
  justify-content: space-between;
}

.section-footer {
  &__wrap {
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    padding: 35px 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 40px;
    max-width: 520px;
    color: var(--greyscale-white);
    line-height: 1.45;
  }

  &__form {
    position: relative;
    max-width: 365px;
    width: 100%;
  }

  &__input {
    border: none;
    width: 100%;
    padding: 14px 65px 14px 48px;
    background-color: rgba(255, 255, 255, 0.07);
    caret-color: var(--greyscale-white);
    color: var(--greyscale-white);
    background-image: url(../images/result/sprite/sprite.svg#envelope);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: left 14px center;

    &::placeholder {
      color: var(--greyscale-white);
      line-height: 1.75;
    }
  }

  &__btn {
    background-color: rgba(255, 255, 255, 0.21);
    border: none;
    width: 46px;
    height: 46px;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding-top: 5px;
  }
}

.accordion {
  &__item {
    padding-top: 30px;

    &:first-child {
      padding-top: 0;

      .accordion__content {
        display: block;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--greyscale-white);
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    cursor: pointer;
    position: relative;
    transition: all 0.5s ease;

    &::after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      right: 0;
      top: 10px;
      background-image: url(../images/result/sprite/sprite.svg#angle-down);
      z-index: 5;
      transition: transform 0.5s ease;
    }

    &.open {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content,
  &__content--open {
    margin-bottom: 48px;
  }
}

.about-lower {
  padding-top: clamp(30px, 20vw, 150px);
  margin-bottom: clamp(50px, 20vw, 200px);
  background-image: url(../images/result/banner/banner-light.png);
  background-repeat: no-repeat;
  background-position: left top;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__imgbox {
    max-width: 500px;
    position: relative;
  }

  &__link {
    position: absolute;
    bottom: -55px;
    right: 15px;
  }

  &__textbox {
    max-width: 550px;
  }

  &__title {
    margin-bottom: 32px;
  }
}
