// ! Объявление CSS переменных
:root {
  --main-colors-purple: #ca6aeb;
  --main-colors-blue: #19b5f1;
  --greyscale-black-100: #18181b;
  --greyscale-black-80: #252532;
  --greyscale-black-80-opacity: rgba(37, 37, 50, 0.77);
  --greyscale-grey-1: #b0b0b2;
  --greyscale-grey-2: #d1d1d1;
  --greyscale-white: #fff;
  --alerts-success: #00c566;
  --alerts-error: #ff4747;
  --alerts-warning: #facc15;
  --gradient: linear-gradient(to right, #0cbaf1, #e95ce9) 1;
  --hover-gradient: linear-gradient(to left, #0cbaf1, #e95ce9) 1;
}
// ! Использование CSS переменных
.link__example {
  color: var(--accent);
}

// ! Миксин для fancybox(video-popup), предотвращает ошибку gulp
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

// ! Миксин для ограничения строк текста
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
// ! Использование миксина, вставляем непосредственно в тот селектор в котором хотим ограничить количество строк
.class__example {
  @include line-clamp(3);
}

// ! Шаблон для скрытия checkbox и radio buttons
%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}
// ! Использование шаблона
.checkbox__example {
  @extend %checkbox-hidden;
}

.radio__example {
  @extend %radio-hidden;
}

// ! Шаблон для Шрифта
%chakra-300 {
  font-family: "ChakraPetch-Light", sans-serif;
  font-weight: 300;
}

%chakra-400 {
  font-family: "ChakraPetch-Regular", sans-serif;
  font-weight: 400;
}

%chakra-500 {
  font-family: "ChakraPetch-Medium", sans-serif;
  font-weight: 500;
}

%chakra-600 {
  font-family: "ChakraPetch-SemiBold", sans-serif;
  font-weight: 600;
}

%chakra-700 {
  font-family: "ChakraPetch-Bold", sans-serif;
  font-weight: 700;
}
// ! Использование шаблона
// @extend %font-name-400;
