.pricing {
  padding-top: clamp(30px, 20vw, 100px);
  padding-bottom: clamp(50px, 20vw, 198px);
  background-image: url(../images/result/pricing/pricing-light.png);
  background-repeat: no-repeat;
  background-position: right 60px bottom 40px;

  &__wrap {
    background-image: url(../images/result/pricing/pricing-light-top.png);
    background-repeat: no-repeat;
    background-position: left top -40px;
  }

  &__top {
    margin-bottom: 40px;
  }

  &__top-text {
    max-width: 625px;
    @extend %chakra-300;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: rgba(37, 37, 50, 0.7);
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) 1;
    padding: 55px 0 0 42px;
  }

  &__text-items {
    padding: 0 118px 55px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__text-item {
    max-width: 640px;
    margin-bottom: 32px;
    padding-left: 58px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 42px;
      height: 42px;
      top: 0;
      left: 0;
      background-image: url(../images/result/sprite/sprite.svg#cloud);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content-title {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 400;
    color: var(--greyscale-white);
  }

  &__content-text {
    line-height: 1.75;
  }

  &__img-box {
    align-self: end;
  }

  &__price-box {
    position: absolute;
    padding: 20px 65px;
    right: 172px;
    bottom: -48px;
    max-width: 320px;
    text-align: center;
    background-color: var(--greyscale-black-80);
    color: var(--greyscale-grey-1);

    &:hover {
      color: var(--greyscale-grey-1);
    }

    span,
    a {
      display: block;
    }
  }

  &__price-toptext {
    font-size: 14px;
    @extend %chakra-500;
    margin-bottom: 5px;
  }

  &__price {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 1.1;
    color: var(--greyscale-white);
  }

  &__link {
    font-size: 14px;
    margin-bottom: 14px;
    padding: 15px 38px;
  }

  &__price-bottomtext {
    font-size: 12px;
    line-height: 1.67;
  }
}
