.why-us {
  padding-top: clamp(30px, 20vw, 150px);
  background-image: url(../images/result/why-us/why-us-light.png);
  background-repeat: no-repeat;
  background-position: top 100px right 100px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 550px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__img-box {
    max-width: 600px;
    position: relative;
  }

  &__video-link {
    position: absolute;
    right: 80px;
    bottom: -35px;

    &:hover {
      .play-svg {
        fill: var(--alerts-error);
      }
    }
  }
}
