<div class="about-us">
  <div class="about-us__wrap">
    <div class="container">
      <div class="about-us__inner-wrap">
        <div class="about-us__inner">
          <div class="about-us__text-box">
            <div class="about-us__top">
              <h3 class="about-us__section-title section-title">ABOUT US</h3>
              <h2 class="about-us__title title">Bringing Your Vision to Life: Learn About VRNas</h2>
            </div>

            <div class="about-us__text">
              <p>
                VRNas is a leading provider of VR services for education, entertainment, architecture, and events. Our
                mission is to
                bring the power of virtual reality to everyone, allowing them to explore new worlds, learn in new ways,
                and
                experience
                events in a whole new light.
              </p>
              <p>Our team consists of experienced VR developers, designers, and technicians who are passionate about VR
                and
                dedicated to
                delivering the highest quality work. We use the latest VR hardware and software to create immersive,
                interactive
                experiences that are tailored to your specific needs.
              </p>
              <p>From initial consultation to final delivery, we are committed to providing exceptional customer
                service.
                Our
                goal is to
                ensure that you are completely satisfied with every aspect of your VR experience.
              </p>
            </div>
          </div>

          <div class="about-us__img-box">
            <img class="about-us__img" src="images/result/about/about-page.png" alt="about us image">
            <a class="about-us__link play-svg__hover" href="#">
              <img class="about-us__link-img" src="images/result/banner/video.png" alt="video link image">
              <svg class='play-svg' width='28' height='28'>
                <use xlink:href='images/result/sprite/sprite.svg#play'></use>
              </svg>
            </a>
          </div>
        </div>

        <div class="about-us__bottom">
          <div class="about-us__bottom-top">
            <div class="about-us__bottom-sectiontitle section-title">why choose us</div>
            <div class="about-us__bottom-title title">Empowering Your Virtual Reality Experience</div>
          </div>

          <div class="advantages">
            <ul class="advantages__items">
              <li class="advantages__item">
                <h3 class="advantages__title">Expertise</h3>
                <div class="advantages__text">
                  <p>
                    Our team consists of experienced VR developers, designers, and technicians who have a passion for VR
                    and
                    a
                    commitment to
                    delivering quality work and give the best service
                  </p>
                </div>
              </li>
              <li class="advantages__item">
                <h3 class="advantages__title">Customization</h3>
                <div class="advantages__text">
                  <p>
                    Every client is unique, and we believe every VR experience should be too. We'll work with you to
                    create
                    a
                    customized
                    solution that meets your specific needs and goals
                  </p>
                </div>
              </li>
              <li class="advantages__item">
                <h3 class="advantages__title">Service</h3>
                <div class="advantages__text">
                  <p>
                    We believe in providing exceptional customer service, from initial consultation to final delivery.
                    Our
                    goal is to ensure
                    you're satisfied with every aspect of your VR experience.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>