<div class="about-lower">
  <div class="container">
    <div class="about-lower__inner">
      <div class="about-lower__imgbox">
        <img class="about-lower__img" src="images/result/about/about-page2.png" alt="About image">
        <a class="about-lower__link play-svg__hover" href="#">
          <img class="about-lover__link-img" src="images/result/about/about-video.jpg" alt="video link image">
          <svg class='play-svg' width='28' height='28'>
            <use xlink:href='images/result/sprite/sprite.svg#play'></use>
          </svg>
        </a>
      </div>

      <div class="about-lower__textbox">
        <h3 class="about-lower__sectiontitle section-title">WHY CHOOSE US</h3>
        <h2 class="about-lower__title title">Why Choose Us for Your VR Needs</h2>
        <ul class="accordion" id="accordion">
          <li class="accordion__item">
            <h4 class="accordion__title open">Passionate and Experienced Team</h4>
            <div class="accordion__content--open">
              <p>
                We are proud of our team of VR experts who are passionate about VR and dedicated to delivering the
                highest
                quality work.
                Our team consists of experienced VR developers, designers, and technicians who have a proven track
                record
                of creating
                immersive and engaging VR experiences.
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title">Customized Solutions</h4>
            <div class="accordion__content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse quas. Eos repudiandae nam provident
                neque architecto hic facere eveniet, unde autem quae repellendus reiciendis sunt libero asperiores
                quam
                sint.
                Similique, tempora natus aut optio voluptatum ex sint reiciendis vitae obcaecati eum deleniti a
                eveniet
                rerum? Eum maxime repellat dolorum natus consequatur, unde dolorem quo neque nemo optio quasi quae!
              </p>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title">Exceptional Customer Service</h4>
            <div class="accordion__content">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse quas. Eos repudiandae nam provident
                neque architecto hic facere eveniet, unde autem quae repellendus reiciendis sunt libero asperiores
                quam
                sint.
                Similique, tempora natus aut optio voluptatum ex sint reiciendis vitae obcaecati eum deleniti a
                eveniet
                rerum? Eum maxime repellat dolorum natus consequatur, unde dolorem quo neque nemo optio quasi quae!
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>