<section class="articles">
  <div class="articles__wrap">
    <div class="container">
      <div class="articles__top">
        <div class="articles__titles">
          <h3 class="articles__section-title section-title">our articles</h3>
          <h2 class="articles__title title">Stay Up-to-Date with Our VR Insights</h2>
        </div>

        <a class="articles__top-link border-gradient" href="#">see all</a>
      </div>

      <div class="articles__content-wrap">
        <div class="articles__content">
          <div class="articles__slider-box">
            <h3 class="articles__content-title">Popular Article</h3>
            <ul class="articles__slider">
              <li class="articles__item">
                <img class="articles__slider-img" src="images/result/articles/slide.jpg" alt="Slider image">
                <div class="articles__text">
                  <span class="articles__theme-name badge">VR Games</span>
                  <h2 class="articles__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h2>
                </div>
              </li>
              <li class="articles__item">
                <img class="articles__slider-img" src="images/result/articles/slide.jpg" alt="Slider image">
                <div class="articles__text">
                  <span class="articles__theme-name badge">VR Games</span>
                  <h2 class="articles__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h2>
                </div>
              </li>
              <li class="articles__item">
                <img class="articles__slider-img" src="images/result/articles/slide.jpg" alt="Slider image">
                <div class="articles__text">
                  <span class="articles__theme-name badge">VR Games</span>
                  <h2 class="articles__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h2>
                </div>
              </li>
              <li class="articles__item">
                <img class="articles__slider-img" src="images/result/articles/slide.jpg" alt="Slider image">
                <div class="articles__text">
                  <span class="articles__theme-name badge">VR Games</span>
                  <h2 class="articles__slide-title">Entertainment Goes Virtual: The Rise of VR Gaming</h2>
                </div>
              </li>
            </ul>
          </div>

          <div class="articles__blog-wrap">
            <div class="articles__blog">
              <h3 class="articles__content-title">Recent Article</h3>

              <ul class="articles__blog-items">
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/1.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Education</span>
                      <div class="articles__descr">
                        <p>
                          The Future of Education: How VR is Revolutionizing the Classroom
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/2.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Architecture</span>
                      <div class="articles__descr">
                        <p>
                          Bringing Designs to Life: How VR is Changing Architecture
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/3.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Entertainment</span>
                      <div class="articles__descr">
                        <p>
                          Making Events Memorable: The Power of VR for Corporate and Special Occasions
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/4.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Event</span>
                      <div class="articles__descr">
                        <p>
                          Exploring New Worlds: The Benefits of VR Travel
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/1.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Education</span>
                      <div class="articles__descr">
                        <p>
                          The Future of Education: How VR is Revolutionizing the Classroom
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/2.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Architecture</span>
                      <div class="articles__descr">
                        <p>
                          Bringing Designs to Life: How VR is Changing Architecture
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/3.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Entertainment</span>
                      <div class="articles__descr">
                        <p>
                          Making Events Memorable: The Power of VR for Corporate and Special Occasions
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
                <li class="articles__blog-item">
                  <articles class="articles__article">
                    <img class="articles__blog-img" src="images/result/articles/4.jpg" alt="Blog image">
                    <div class="articles__text-box">
                      <span class="articles__theme-name articles__theme-name--blog badge">VR Event</span>
                      <div class="articles__descr">
                        <p>
                          Exploring New Worlds: The Benefits of VR Travel
                        </p>
                      </div>
                    </div>
                    <a class="articles__blog-link border-gradient" href="#">
                      <svg class='articles__blog-svg' width='13' height='13'>
                        <use xlink:href='images/result/sprite/sprite.svg#arrow'></use>
                      </svg>
                    </a>
                  </articles>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="section-footer__wrap">
        <h2 class="section-footer__title">
          Subscribe to our newsletter for latest updates
        </h2>

        <form class="section-footer__form">
          <input class="section-footer__input" type="email" placeholder="Enter your email address">
          <button class="section-footer__btn" type="submit">
            <svg class='section-footer__btn-svg' width='13' height='13'>
              <use xlink:href='images/result/sprite/sprite.svg#send'></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>