<section class="banner">
  <div class="banner__wrap">
    <div class="container">
      <div class="banner__inner">
        <article class="banner__textbox">
          <h1 class="banner__title">Immerse Yourself in Virtual Reality</h1>
          <div class="banner__text">
            <p>
              Experience Unforgettable Events in VR. Bring your events to life like never before with our VR services
            </p>
          </div>
          <a class="banner__link button" href="#">discover more</a>

          <div class="banner__textbox-bottom">
            <div class="banner__bottom-box">
              <div class="banner__img-box">
                <img class="banner__clients-img" src="images/result/banner/ellipse-1.png" alt="clients">
                <img class="banner__clients-img" src="images/result/banner/ellipse-2.png" alt="clients">
                <img class="banner__clients-img" src="images/result/banner/ellipse-3.png" alt="clients">
              </div>

              <div class="banner__textbox-descr">
                <span class="banner__num">32k+</span>
                <p>Happy Client</p>
              </div>
            </div>

            <a class="banner__video-link" data-fancybox href="https://youtu.be/dielIJbNkuc?si=td4lDc4crqJmp5hr">
              <img class="banner__video-linkimg" src="images/result/banner/video.png" alt="Video">
              <svg class='play-svg' width='28' height='28'>
                <use xlink:href='images/result/sprite/sprite.svg#play'></use>
              </svg>
            </a>
          </div>
        </article>

        <div class="banner__main-imgbox">
          <img class="banner__main-img" src="images/result/banner/main-image.png" alt="VR">
        </div>
      </div>

      <div class="advantages">
        <ul class="advantages__items">
          <li class="advantages__item">
            <h3 class="advantages__title">Expertise</h3>
            <div class="advantages__text">
              <p>
                Our team consists of experienced VR developers, designers, and technicians who have a passion for VR and
                a
                commitment to
                delivering quality work and give the best service
              </p>
            </div>
          </li>
          <li class="advantages__item">
            <h3 class="advantages__title">Customization</h3>
            <div class="advantages__text">
              <p>
                Every client is unique, and we believe every VR experience should be too. We'll work with you to create
                a
                customized
                solution that meets your specific needs and goals
              </p>
            </div>
          </li>
          <li class="advantages__item">
            <h3 class="advantages__title">Service</h3>
            <div class="advantages__text">
              <p>
                We believe in providing exceptional customer service, from initial consultation to final delivery. Our
                goal is to ensure
                you're satisfied with every aspect of your VR experience.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>