<section class="blog">
  <div class="container">
    <ul class="blog__items">
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-1.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Games</span>
          <p class="blog__descr">Entertainment Goes Virtual: The Rise of VR Gaming</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-2.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Games</span>
          <p class="blog__descr">Entertainment Goes Virtual: The Rise of VR Gaming</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-3.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Entertainment</span>
          <p class="blog__descr">Making Events Memorable: The Power of VR for Corporate and Special Occasions</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-4.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Event</span>
          <p class="blog__descr">Exploring New Worlds: The Benefits of VR Travel</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-5.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Architecture</span>
          <p class="blog__descr">Bringing Designs to Life: How VR is Changing Architecture</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-6.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Games</span>
          <p class="blog__descr">Entertainment Goes Virtual: The Rise of VR Gaming</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-7.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Games</span>
          <p class="blog__descr">Entertainment Goes Virtual: The Rise of VR Gaming</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-8.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Games</span>
          <p class="blog__descr">Entertainment Goes Virtual: The Rise of VR Gaming</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
      <li class="blog__item white-gradient">
        <img class="blog__img" src="images/result/blog/blog-img-9.jpg" alt="Blog image">
        <div class="blog__text-box">
          <span class="blog__badge badge">VR Education</span>
          <p class="blog__descr">The Future of Education: How VR is Revolutionizing the Classroom</p>
          <a class="blog__link section-title border-gradient" href="blog-single-page.html">read more</a>
        </div>
      </li>
    </ul>

    <ul class="blog__pagination-items">
      <li class="blog__pagination-item active border-gradient">
        <a class="blog__pagination-link" href="#">1</a>
      </li>
      <li class="blog__pagination-item border-gradient">
        <a class="blog__pagination-link" href="#">2</a>
      </li>
      <li class="blog__pagination-item border-gradient">
        <a class="blog__pagination-link" href="#">3</a>
      </li>
    </ul>
  </div>
</section>