<div class="page-header">
  <div class="container">
    <div class="page-header__inner page-header__inner--single">
      <h2 class="page-header__title page-header__title--single">Blog</h2>

      <div class="page-header__breadcrumbs">
        <ul class="page-header__breadcrumbs-items page-header__breadcrumbs-items--single">
          <li class="page-header__breadcrumbs-item">
            <a class="page-header__breadcrumbs-link" href="#">Home</a>
          </li>
          <li class="page-header__breadcrumbs-item">
            <a class="page-header__breadcrumbs-link" href="#">Blog</a>
          </li>
          <li class="page-header__breadcrumbs-item">
            <a class="page-header__breadcrumbs-link" href="#">Bringing Designs to Life: How VR is Changing
              Architecture</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>