<section class="contacts">
  <div class="container">
    <ul class="contacts__items">
      <li class="contacts__item white-gradient">
        <img class="contacts__icon" src="images/result/contacts/contacts-icon-1.png" alt="Contact Icon">
        <h3 class="contacts__name section-title">email</h3>
        <a class="contacts__link" href="email:Support@VRNas.com">Support@VRNas.com</a>
      </li>
      <li class="contacts__item white-gradient">
        <img class="contacts__icon" src="images/result/contacts/contacts-icon-2.png" alt="Contact Icon">
        <h3 class="contacts__name section-title">address</h3>
        <address class="contacts__link">Tanjung Sari Street no.48, Pontianak City</address>
      </li>
      <li class="contacts__item white-gradient">
        <img class="contacts__icon" src="images/result/contacts/contacts-icon-3.png" alt="Contact Icon">
        <h3 class="contacts__name section-title">PHONE</h3>
        <a class="contacts__link" href="tel:+1234567890">+123 456 7890</a>
      </li>
    </ul>
  </div>
</section>