<section class="contact-us">
  <div class="container">
    <div class="contact-us__boxes">
      <div class="contact-us__social-box">
        <ul class="contact-us__social-items">
          <li class="contact-us__social-item">
            <a class="contact-us__social-link" href="#">
              <img class="contact-us__social-link" alt="twitter" src="images/result/contacts/contacts-social-1.png">
            </a>
          </li>
          <li class="contact-us__social-item">
            <a class="contact-us__social-link" href="#">
              <img class="contact-us__social-link" alt="facebook" src="images/result/contacts/contacts-social-2.png">
            </a>
          </li>
          <li class="contact-us__social-item">
            <a class="contact-us__social-link" href="#">
              <img class="contact-us__social-link" alt="instagram" src="images/result/contacts/contacts-social-3.png">
            </a>
          </li>
          <li class="contact-us__social-item">
            <a class="contact-us__social-link" href="#">
              <img class="contact-us__social-link" alt="git" src="images/result/contacts/contacts-social-4.png">
            </a>
          </li>
        </ul>
      </div>

      <div class="contact-us__form-box">
        <h3 class="contact-us__section-title section-title">contact us</h3>
        <h2 class="contact-us__title title">Get in Touch</h2>
        <div class="contact-us__text">
          <p>
            At VRNas, we're always happy to hear from our clients and potential clients. Whether you have a question
            about our VR
            services, want to discuss a potential project, or just want to say hello, we're here to help.
          </p>
        </div>

        <form class="contact-us__form">
          <div class="contact-us__inputs">
            <input class="contact-us__input white-gradient" type="text" placeholder="First Name">
            <input class="contact-us__input white-gradient" type="text" placeholder="Last Name">
            <input class="contact-us__input white-gradient" type="email" placeholder="Email">
            <input class="contact-us__input white-gradient" type="tel" placeholder="Phone Number">
          </div>
          <textarea class="contact-us__textarea white-gradient" placeholder="Message"></textarea>
          <button class="contact-us__btn button" type="submit">send message</button>
        </form>
      </div>
    </div>

    <div class="contact-us__map-box">
      <img class="contact-us__map" src="images/result/contacts/map.jpg" alt="Contact map">
    </div>
  </div>
</section>