<div class="counter">
  <div class="container">
    <ul class="counter__items">
      <li class="counter__item">
        <span class="counter__text section-title">happy clients</span>
        <span class="counter__num title">123k+</span>
      </li>
      <li class="counter__item">
        <span class="counter__text section-title">project complete</span>
        <span class="counter__num title">300k+</span>
      </li>
      <li class="counter__item">
        <span class="counter__text section-title">years experience</span>
        <span class="counter__num title">10+</span>
      </li>
    </ul>
  </div>
</div>