<section class="error-404">
  <div class="container">
    <div class="error-404__inner">
      <h3 class="error-404__section-title section-title">404 Error</h3>
      <h2 class="error-404__title title">Page Not Found</h2>
      <div class="error-404__text-box">
        <p>
          Oops! It looks like the page you were looking for is not here. Here are some possible reasons why:
        </p>

        <ul class="error-404__items">
          <li class="error-404__item">
            The page may have been moved or deleted.
          </li>
          <li class="error-404__item">
            You may have mistyped the URL.
          </li>
          <li class="error-404__item">
            There may be a temporary problem with our server.
          </li>
        </ul>

        <p>
          You can try the following options to find what you're looking for:
        </p>

        <ul class="error-404__items">
          <li class="error-404__item">
            Check the URL for typos or errors and try again.
          </li>
          <li class="error-404__item">
            Go back to our homepage and browse from there.
          </li>
        </ul>

        <p>
          If you believe there's an issue with our website, please contact us using the information provided on our
          contact page.
        </p>
      </div>

      <a class="error-404__link button" href="index.html">back home</a>
    </div>
  </div>
</section>