<section class="faq">
  <div class="container container--faq">
    <div class="faq__top">
      <h3 class="faq__section-title section-title">faq</h3>
      <h2 class="faq__title title">Frequently Asked Questions</h2>
      <div class="faq__text">
        <p>
          At VRNas, we want to make sure that you have all the information you need to make informed decisions about our
          VR
          services. Here are some of the most common questions we receive:
        </p>
      </div>
    </div>

    <ul class="accordion accordion--faq" id="accordion">
      <li class="accordion__item accordion__item--faq white-gradient open">
        <h4 class="accordion__title accordion__title--faq open">What is virtual reality?</h4>
        <div class="accordion__content--open accordion__content--faq">
          <p>
            Virtual reality (VR) is a technology that uses headsets or other devices to create a simulated environment.
            Users can
            interact with this environment as if it were real, allowing for immersive experiences in gaming, education,
            training,
            and more.
          </p>
        </div>
      </li>
      <li class="accordion__item accordion__item--faq  white-gradient">
        <h4 class="accordion__title accordion__title--faq">What types of VR services do you offer?</h4>
        <div class="accordion__content accordion__content--faq">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse quas. Eos repudiandae nam provident
            neque architecto hic facere eveniet, unde autem quae repellendus reiciendis sunt libero asperiores
            quam
            sint.
            Similique, tempora natus aut optio voluptatum ex sint reiciendis vitae obcaecati eum deleniti a
            eveniet
            rerum? Eum maxime repellat dolorum natus consequatur, unde dolorem quo neque nemo optio quasi quae!
          </p>
        </div>
      </li>
      <li class="accordion__item accordion__item--faq  white-gradient">
        <h4 class="accordion__title accordion__title--faq">How much does your VR services cost?</h4>
        <div class="accordion__content accordion__content--faq">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse quas. Eos repudiandae nam provident
            neque architecto hic facere eveniet, unde autem quae repellendus reiciendis sunt libero asperiores
            quam
            sint.
            Similique, tempora natus aut optio voluptatum ex sint reiciendis vitae obcaecati eum deleniti a
            eveniet
            rerum? Eum maxime repellat dolorum natus consequatur, unde dolorem quo neque nemo optio quasi quae!
          </p>
        </div>
      </li>
      <li class="accordion__item accordion__item--faq  white-gradient">
        <h4 class="accordion__title accordion__title--faq">What equipment do I need to use your VR services?</h4>
        <div class="accordion__content accordion__content--faq">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse quas. Eos repudiandae nam provident
            neque architecto hic facere eveniet, unde autem quae repellendus reiciendis sunt libero asperiores
            quam
            sint.
            Similique, tempora natus aut optio voluptatum ex sint reiciendis vitae obcaecati eum deleniti a
            eveniet
            rerum? Eum maxime repellat dolorum natus consequatur, unde dolorem quo neque nemo optio quasi quae!
          </p>
        </div>
      </li>
      <li class="accordion__item accordion__item--faq  white-gradient">
        <h4 class="accordion__title accordion__title--faq">Can I try out your VR services before I commit?</h4>
        <div class="accordion__content accordion__content--faq">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, esse quas. Eos repudiandae nam provident
            neque architecto hic facere eveniet, unde autem quae repellendus reiciendis sunt libero asperiores
            quam
            sint.
            Similique, tempora natus aut optio voluptatum ex sint reiciendis vitae obcaecati eum deleniti a
            eveniet
            rerum? Eum maxime repellat dolorum natus consequatur, unde dolorem quo neque nemo optio quasi quae!
          </p>
        </div>
      </li>
    </ul>


  </div>
  <div class="container">
    <div class="section-footer__wrap">
      <h2 class="section-footer__title">
        Subscribe to our newsletter for latest updates
      </h2>

      <form class="section-footer__form">
        <input class="section-footer__input" type="email" placeholder="Enter your email address">
        <button class="section-footer__btn" type="submit">
          <svg class='section-footer__btn-svg' width='13' height='13'>
            <use xlink:href='images/result/sprite/sprite.svg#send'></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>