<div class="container">
  <div class="header__top">
    <div class="logo">
      <a class="logo__link" href="index.html">
        <img class="logo__img" src="images/result/logo.png" alt="Logotype">
      </a>
    </div>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item">
          <a class="header__link" href="index.html">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="about-page.html">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="service-page.html">Service</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            Page
            <svg class='header__link-svg' width='12' height='12'>
              <use xlink:href='images/result/sprite/sprite.svg#down'></use>
            </svg>
          </a>
          <ul class="header__submenu border-gradient">
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="detail-page.html">Detail Service</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="pricing-plan.html">Pricing Plan</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="privacy-page.html">Privacy Policy</a>
            </li>
          </ul>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">
            Blog
            <svg class='header__link-svg' width='12' height='12'>
              <use xlink:href='images/result/sprite/sprite.svg#down'></use>
            </svg>
          </a>
          <ul class="header__submenu border-gradient">
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="blog-page.html">Blog</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="faq-page.html">FAQ</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="terms-page.html">Tems & Conditions</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <a class="header__contact border-gradient" href="contact-page.html">Contact us</a>
  </div>
</div>