<section class="our-project">
  <div class="container">
    <div class="our-project__top">
      <h3 class="our-project__section-title section-title">our vr design project</h3>
      <h2 class="our-project__title title">Revolutionize Your Experience with Our Cutting-Edge VR Design Project</h2>
    </div>

    <div class="our-project__video-box">
      <a class="our-project__video-link" data-fancybox href="https://youtu.be/YSUpB3z8NHc?si=qOyWQc7IjI5ySIMf">
        <img class="our-project__img" src="images/result/our-project/project-img.jpg" alt="our-project image">
        <div class="our-project__text-box">
          <span class="our-project__badge badge">VR Design</span>
          <h3 class="our-project__video-title">VR Design Projects</h3>
        </div>
      </a>
    </div>
    <a class="our-project__link button" href="#">get started</a>
  </div>
</section>