<section class="pricing">
  <div class="pricing__wrap">
    <div class="container">
      <div class="pricing__top">
        <h3 class="pricing__section-title section-title">our pricing</h3>
        <h2 class="pricing__title title">Affordable VR Services for Everyone</h2>
        <div class="pricing__top-text">
          <p>
            At VRNas, we believe that everyone should have access to the benefits of VR. That's why we offer a range of
            pricing
            options to meet the needs of any budget.
          </p>
        </div>
      </div>

      <div class="pricing__content">
        <ul class="pricing__text-items">
          <li class="pricing__text-item">
            <h3 class="pricing__content-title">Customizable Packages</h3>
            <div class="pricing__content-text">
              <p>
                We understand that each project is unique, so we offer customizable packages to ensure that you get the
                services you
                need at a price that works for you. Our team will work with you to create a package that meets your
                specific
                goals and
                budget.
              </p>
            </div>
          </li>
          <li class="pricing__text-item">
            <h3 class="pricing__content-title">Flexible Payment Options</h3>
            <div class="pricing__content-text">
              <p>
                We offer flexible payment options to make it easy for you to get started with our services. We accept
                various payment
                methods, including credit cards, bank transfers, and PayPal, and we can also work with you to create a
                payment plan that
                suits your needs.
              </p>
            </div>
          </li>
          <li class="pricing__text-item">
            <h3 class="pricing__content-title">Satisfaction Guarantee</h3>
            <div class="pricing__content-text">
              <p>
                We stand behind our services and are committed to ensuring that you are completely satisfied with the
                final
                product. If
                for any reason you are not happy with our services, we will work with you to make it right or provide a
                full
                refund.
              </p>
            </div>
          </li>
        </ul>

        <div class="pricing__img-box">
          <img class="pricing__img" src="images/result/pricing/pricing.png" alt="Pricing image">
        </div>

        <div class="pricing__price-box border-gradient">
          <span class="pricing__price-toptext">Start from</span>
          <span class="pricing__price">$99</span>
          <a class="pricing__link button" href="#">get started</a>
          <span class="pricing__price-bottomtext">30 Days Moneyback Guarantee</span>
        </div>
      </div>
    </div>
  </div>
</section>