<div class="section-footer">
  <div class="container">
    <div class="section-footer__wrap">
      <h2 class="section-footer__title">
        Subscribe to our newsletter for latest updates
      </h2>

      <form class="section-footer__form">
        <input class="section-footer__input" type="email" placeholder="Enter your email address">
        <button class="section-footer__btn" type="submit">
          <svg class='section-footer__btn-svg' width='13' height='13'>
            <use xlink:href='images/result/sprite/sprite.svg#send'></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</div>