<section class="started">
  <div class="container">
    <h3 class="started__section-title section-title">how to get started</h3>
    <h2 class="started__title title">Bringing Your Virtual Reality Dreams to Life</h2>
    <div class="started__link-box">
      <a class="started__video-link" data-fancybox href="https://youtu.be/OZEKUB3xQIQ?si=qwERGIV-RmWdXZI7">
        <img class="started__video-img" src="images/result/started/video.jpg" alt="Video image">
        <div class="started__text-box">
          <span class="started__badge badge">VR Service</span>
          <div class="started__text">How to get started</div>
        </div>
      </a>
    </div>

    <a class="started__btn button" href="#">GET STARTED</a>
  </div>
</section>