<section class="tariff-plan">
  <div class="container">
    <div class="tariff-plan__top">
      <h3 class="tariff-plan__section-title section-title">pricing</h3>
      <h2 class="tariff-plan__title title">Pricing Plans</h2>
      <div class="tariff-plan__top-text">
        <p>
          Choose the pricing plan that fits your needs and budget. All plans come with a free trial period so you can
          test out our
          service and see which plan works best for you.
        </p>
      </div>
    </div>

    <ul class="tariff-plan__list">
      <li class="tariff-plan__item white-gradient">
        <span class="tariff-plan__name">Basic Plan</span>
        <span class="tariff-plan__price">$99 <span>/ month</span></span>
        <p class="tariff-plan__descr">
          All the basic features to boost your freelance career
        </p>

        <ul class="tariff-plan__benefits">
          <li class="tariff-plan__benefits-item">Access to a selection of VR games and experiences</li>
          <li class="tariff-plan__benefits-item">Limited access to educational content</li>
          <li class="tariff-plan__benefits-item">Limited access to architecture and design tools</li>
          <li class="tariff-plan__benefits-item">No access to exclusive events or promotions</li>
        </ul>

        <a class="tariff-plan__link border-gradient" href="#">Get 14 Days Free Trial</a>
      </li>

      <li class="tariff-plan__item white-gradient">
        <span class="tariff-plan__name">Standard Plan</span>
        <span class="tariff-plan__price">$149 <span>/ month</span></span>
        <p class="tariff-plan__descr">
          All the basic features to boost your freelance career
        </p>

        <ul class="tariff-plan__benefits">
          <li class="tariff-plan__benefits-item">Access to a wider selection of VR games and experiences</li>
          <li class="tariff-plan__benefits-item">Limited access to educational content</li>
          <li class="tariff-plan__benefits-item">Limited access to architecture and design tools</li>
          <li class="tariff-plan__benefits-item">Access to exclusive events and promotions</li>
        </ul>

        <a class="tariff-plan__link border-gradient" href="#">Get 14 Days Free Trial</a>
      </li>

      <li class="tariff-plan__item white-gradient">
        <span class="tariff-plan__name">Standard Plan</span>
        <span class="tariff-plan__price">$200 <span>/ month</span></span>
        <p class="tariff-plan__descr">
          All the basic features to boost your freelance career
        </p>

        <ul class="tariff-plan__benefits">
          <li class="tariff-plan__benefits-item">Access to a wider selection of VR games and experiences</li>
          <li class="tariff-plan__benefits-item">Limited access to educational content</li>
          <li class="tariff-plan__benefits-item">Limited access to architecture and design tools</li>
          <li class="tariff-plan__benefits-item">Priority access to exclusive events and promotions</li>
        </ul>

        <a class="tariff-plan__link border-gradient" href="#">Get 14 Days Free Trial</a>
      </li>
    </ul>
  </div>
</section>