<div class="page-header">
  <div class="container">
    <div class="page-header__inner border-gradient border-gradient__no-hover">
      <h2 class="page-header__title">Pricing Plan</h2>

      <div class="page-header__breadcrumbs">
        <ul class="page-header__breadcrumbs-items">
          <li class="page-header__breadcrumbs-item">
            <a class="page-header__breadcrumbs-link" href="#">Home</a>
          </li>
          <li class="page-header__breadcrumbs-item">
            <a class="page-header__breadcrumbs-link" href="#">Pricing Plan</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>