<section class="team-all">
  <div class="container">
    <div class="team-all__inner">
      <div class="team-all__top">
        <div class="team-all__titles">
          <h3 class="team-all__section-title section-title">our team</h3>
          <h2 class="team-all__title title">Meet Our Amazing Team</h2>
        </div>
      </div>

      <ul class="team-all__items team-all__items">
        <li class="team-all__item team-all__item white-gradient">
          <div class="team-all__img-box">
            <img class="team-all__img" src="images/result/team/team-all-member-1.jpg" alt="Team member">
          </div>

          <div class="team-all__text-box">
            <span class="team-all__member-name">Bondan Prabowo</span>
            <span class="team-all__member-position">CEO</span>
          </div>

          <ul class="team-all__socials">
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-1.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-2.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-3.png" alt="social image">
              </a>
            </li>

          </ul>
        </li>
        <li class="team-all__item white-gradient">
          <div class="team-all__img-box">
            <img class="team-all__img" src="images/result/team/team-all-member-2.jpg" alt="Team member">
          </div>

          <div class="team-all__text-box">
            <span class="team-all__member-name">Bayu Aji</span>
            <span class="team-all__member-position">VR Development</span>
          </div>

          <ul class="team-all__socials">
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-1.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-2.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-3.png" alt="social image">
              </a>
            </li>

          </ul>
        </li>
        <li class="team-all__item white-gradient">
          <div class="team-all__img-box">
            <img class="team-all__img" src="images/result/team/team-all-member-3.jpg" alt="Team member">
          </div>

          <div class="team-all__text-box">
            <span class="team-all__member-name">Agung Brandon</span>
            <span class="team-all__member-position">VR Artist</span>
          </div>

          <ul class="team-all__socials">
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-1.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-2.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-3.png" alt="social image">
              </a>
            </li>

          </ul>
        </li>
        <li class="team-all__item white-gradient">
          <div class="team-all__img-box">
            <img class="team-all__img" src="images/result/team/team-all-member-4.jpg" alt="Team member">
          </div>

          <div class="team-all__text-box">
            <span class="team-all__member-name">Aril Laso</span>
            <span class="team-all__member-position">UI / UX Designer</span>
          </div>

          <ul class="team-all__socials">
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-1.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-2.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-3.png" alt="social image">
              </a>
            </li>

          </ul>
        </li>
        <li class="team-all__item white-gradient">
          <div class="team-all__img-box">
            <img class="team-all__img" src="images/result/team/team-all-member-5.jpg" alt="Team member">
          </div>

          <div class="team-all__text-box">
            <span class="team-all__member-name">Aldo Boy</span>
            <span class="team-all__member-position">3D Designer</span>
          </div>

          <ul class="team-all__socials">
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-1.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-2.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-3.png" alt="social image">
              </a>
            </li>

          </ul>
        </li>
        <li class="team-all__item white-gradient">
          <div class="team-all__img-box">
            <img class="team-all__img" src="images/result/team/team-all-member-6.jpg" alt="Team member">
          </div>

          <div class="team-all__text-box">
            <span class="team-all__member-name">Beni Barak</span>
            <span class="team-all__member-position">3D Artist</span>
          </div>

          <ul class="team-all__socials">
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-1.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-2.png" alt="social image">
              </a>
            </li>
            <li class="team-all__social">
              <a class="team-all__social-link" href="#">
                <img class="team-all__social-img" src="images/result/team/team-social-3.png" alt="social image">
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>