<section class="team">
  <div class="container">
    <div class="team__inner">
      <div class="team__top">
        <div class="team__titles">
          <h3 class="team__section-title section-title">our team</h3>
          <h2 class="team__title title">Our Professionals Team</h2>
        </div>
        <a class="team__top-link border-gradient" href="team-page.html">see all</a>
      </div>

      <ul class="team__items">
        <li class="team__item white-gradient">
          <div class="team__img-box">
            <img class="team__img" src="images/result/team/team-member-1.jpg" alt="Team member">
          </div>

          <div class="team__text-box">
            <span class="team__member-name">Bondan Prabowo</span>
            <span class="team__member-position">CEO</span>
          </div>
        </li>
        <li class="team__item white-gradient">
          <div class="team__img-box">
            <img class="team__img" src="images/result/team/team-member-2.jpg" alt="Team member">
          </div>

          <div class="team__text-box">
            <span class="team__member-name">Bayu Aji</span>
            <span class="team__member-position">VR Development</span>
          </div>
        </li>
        <li class="team__item white-gradient">
          <div class="team__img-box">
            <img class="team__img" src="images/result/team/team-member-3.jpg" alt="Team member">
          </div>

          <div class="team__text-box">
            <span class="team__member-name">Agung Brandon</span>
            <span class="team__member-position">VR Artist</span>
          </div>
        </li>
        <li class="team__item white-gradient">
          <div class="team__img-box">
            <img class="team__img" src="images/result/team/team-member-4.jpg" alt="Team member">
          </div>

          <div class="team__text-box">
            <span class="team__member-name">Aril Laso</span>
            <span class="team__member-position">UI / UX Designer</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>