<section class="terms">
  <div class="container">
    <div class="terms__inner">
      <div class="terms__top">
        <h3 class="terms__section-title section-title">Terms & Conditions</h3>
        <h2 class="terms__title title">Terms and Conditions</h2>
        <div class="terms__top-text">
          <p>
            Welcome to VRNas. Please read these Terms and Conditions carefully before using our website and services.
          </p>
        </div>
      </div>

      <ul class="terms__content-boxes">
        <li class="terms__content-box">
          <h3 class="terms__content-title">Acceptance of Term</h3>
          <div class="terms__content-text">
            <p>
              By accessing or using any part of our website or services, you agree to be bound by these Terms and
              Conditions. If you
              do not agree to all the terms and conditions of this agreement, then you may not access the website or use
              any
              services.
            </p>
          </div>
        </li>
        <li class="terms__content-box">
          <h3 class="terms__content-title">Use of Website and Services</h3>
          <div class="terms__content-text">
            <p>
              You may use our website and services solely for lawful purposes and in accordance with these Terms and
              Conditions. You
              agree not to use our website or services:
            </p>
            <ul class="terms__content-items">
              <li class="terms__content-item">
                <p>
                  In any way that violates any applicable federal, state, local or international law or regulation.
                </p>
              </li>
              <li class="terms__content-item">
                <p>
                  To transmit, or procure the sending of, any advertising or promotional material, including any "junk
                  mail",
                  "chain
                  letter" or "spam" or any other similar solicitation.
                </p>
              </li>
              <li class="terms__content-item">
                <p>
                  To impersonate or attempt to impersonate [Company Name], a [Company Name] employee, another user or
                  any
                  other person or
                  entity.
                </p>
              </li>
              <li class="terms__content-item">
                <p>
                  To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the website or
                  services, or
                  which, as determined by us, may harm [Company Name] or users of the website or services or expose them
                  to
                  liability.
                </p>
              </li>
            </ul>
          </div>
        </li>
        <li class="terms__content-box">
          <h3 class="terms__content-title">Intellectual Property</h3>
          <div class="terms__content-text">
            <p>
              The content and materials available on our website and services, including but not limited to text,
              graphics,
              logos,
              images, and software, are the property of [Company Name] or its licensors and are protected by copyright,
              trademark, and
              other intellectual property laws.
              You may not use any of our content or materials for commercial purposes without obtaining a license to do
              so
              from
              [Company Name] or its licensors.
            </p>
          </div>
        </li>
        <li class="terms__content-box">
          <h3 class="terms__content-title">Limitation of Liability</h3>
          <div class="terms__content-text">
            <p>
              In no event shall [Company Name] be liable for any direct, indirect, incidental, consequential, special,
              or
              exemplary
              damages arising out of or in connection with your use of our website or services.
            </p>
          </div>
        </li>
        <li class="terms__content-box">
          <h3 class="terms__content-title">Changes to Terms and Conditions</h3>
          <div class="terms__content-text">
            <p>
              We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions at any time.
              By
              continuing
              to access or use our website and services after any revisions become effective, you agree to be bound by
              the
              revised
              terms.
            </p>
          </div>
        </li>
        <li class="terms__content-box">
          <h3 class="terms__content-title">Contact Us</h3>
          <div class="terms__content-text">
            <p>
              If you have any questions about these Terms and Conditions, please contact us using the information
              provided
              on our
              contact page.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>