<section class="testimonial">
  <div class="container">
    <div class="testimonial__wrap">
      <div class="testimonial__top">
        <h3 class="testimonial__section-title section-title">testimonial</h3>
        <h2 class="testimonial__title title">What Our Clients Are Saying</h2>
      </div>

      <ul class="testimonial__user-list">
        <li class="testimonial__user-item">
          <div class="testimonial__img-box">
            <img class="testimonial__user-img" src="images/result/testimonial/user-1.png" alt="User image">
          </div>

          <div class="testimonial__text-box">
            <div class="testimonial__text">
              <p>
                The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR
                needs.
              </p>
            </div>

            <span class="testimonial__user border-gradient"><span>Robert Fox</span> - CEO Anono</span>
          </div>
        </li>
        <li class="testimonial__user-item">
          <div class="testimonial__img-box">
            <img class="testimonial__user-img" src="images/result/testimonial/user-2.png" alt="User image">
          </div>

          <div class="testimonial__text-box">
            <div class="testimonial__text">
              <p>
                The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR
                needs.
              </p>
            </div>

            <span class="testimonial__user border-gradient"><span>Robert Fox</span> - CEO Anono</span>
          </div>
        </li>
        <li class="testimonial__user-item">
          <div class="testimonial__img-box">
            <img class="testimonial__user-img" src="images/result/testimonial/user-3.png" alt="User image">
          </div>

          <div class="testimonial__text-box">
            <div class="testimonial__text">
              <p>
                The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR
                needs.
              </p>
            </div>

            <span class="testimonial__user border-gradient"><span>Robert Fox</span> - CEO Anono</span>
          </div>
        </li>
        <li class="testimonial__user-item">
          <div class="testimonial__img-box">
            <img class="testimonial__user-img" src="images/result/testimonial/user-4.png" alt="User image">
          </div>

          <div class="testimonial__text-box">
            <div class="testimonial__text">
              <p>
                The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR
                needs.
              </p>
            </div>

            <span class="testimonial__user border-gradient"><span>Robert Fox</span> - CEO Anono</span>
          </div>
        </li>
        <li class="testimonial__user-item">
          <div class="testimonial__img-box">
            <img class="testimonial__user-img" src="images/result/testimonial/user-5.png" alt="User image">
          </div>

          <div class="testimonial__text-box">
            <div class="testimonial__text">
              <p>
                The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR
                needs.
              </p>
            </div>

            <span class="testimonial__user border-gradient"><span>Robert Fox</span> - CEO Anono</span>
          </div>
        </li>
        <li class="testimonial__user-item">
          <div class="testimonial__img-box">
            <img class="testimonial__user-img" src="images/result/testimonial/user-6.png" alt="User image">
          </div>

          <div class="testimonial__text-box">
            <div class="testimonial__text">
              <p>
                The team was professional, responsive, and a pleasure to work with. We highly recommend VRNas for any VR
                needs.
              </p>
            </div>

            <span class="testimonial__user border-gradient"><span>Robert Fox</span> - CEO Anono</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>